/* Hide scrollbars but still allow scrolling */
body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.hero-contact {
    background:
      linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
      url('../assets/contact-hero.jpg') center/cover no-repeat;
    height: 50vh;
  }
  